@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Benne', serif;

}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background: #fff !important;




}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.grid {
    background-color: rgb(3, 140, 158);
    height: 100vh !important;
    width: 100%;
    margin: auto;
    box-shadow: 0 0 30px -10px rgb(135, 1355, 135, 0.5);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;

}

.grid::before {
    content: "";
    grid-column: 1/-1;
    grid-row: 1/-1;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    opacity: 0.5;
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: show 2s 3.5s cubic-bezier(.77, .18, .72, .83) forwards;*/


}

.navbar {
    grid-column: 1/-2;
    grid-row: 1;
    width: 100% !important;

}

.fixed {
    
    background: #fff !important;
    box-shadow: 5px 5px solid #000 !important;
    color: #000 !important;
    height: 10vh;

}

.fixed a{
    color: #000 !important;
}
.menu__icon {
    font-size: 30px;
}

.active a{
    color:blue !important; 
}

.grid__texts {
    color: #fff;
    grid-row: 2/-2;
    grid-column: 2/8;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transform: translate(50%);
    animation: show 1s forwards, move 1s 1s forwards;

}

.grid__title {
    font-size: 6rem;
}

.grid__title--transform {
    font-family: 'Playfair Display', serif;
    font-size: 4.5rem;
    transform: translate(20%);
    animation: move 1s 2s forwards;

}

.social {
    margin:0 100px ;
}

.social a{
    margin: 10px;
}

@keyframes show {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
}

@keyframes move {
    to {
        transform: translate(0);
    }
}

@keyframes menu {}

to {
    top: 0;
}

.about p{
    margin-top: 80px !important;
    text-align:justify !important;
   
}

#sobre-nosotros{
    margin-left: 100px;
    padding:0 20px;
    border: #000 !important;
    background: rgb(3, 140, 158);
    box-shadow: 10px 10px solid #000 !important;
    border-radius: 10px;
}
.about__title{
 
   height: 10vh !important;
   padding: 10vh 0;
   margin-top: 10vh;
}

.about__img {
    width: 10vh !important;
    height: 20vh !important;
    display: flex;
    
}

.container .row i {
    font-size: 10vh;
    text-align: center;
}


/* FORMULARIO */

.contact {
    background: url(../img/formulario.jpg);
    background-size: cover;
    margin: 100px 0 0 ;
    opacity: 0.7;
    }

.row {
    width: 70%;
    
    padding-right: -100px;
}

.form-group input{
    background: #ffffff94;
}

.form-group button{
    margin: 5vh;
    margin-left: -35vh;
    background: rgb(3, 140, 158);
    border: none;
}

.contact .container{
    display: flex !important;
}

.contact__tel i{
 font-size: 10rem !important;
 color: #fff !important;
 margin-top: 10vh !important;
}

.services{
    margin-top: 10vh;
    background:rgb(3, 140, 158);
}

.services .container .row {
    width: 100%;
   padding: 0;
   padding-bottom: 10vh;
}

#servicios {
    padding: 10vh;
}

.services .container i{
    margin: 6vh;
    margin-top: 10px;
    color: #fff;
}